**Projeto Final de Análise de Dados**

Desenvolvido por:

Paloma Avena  palomaavena@gmail.com

Anne Ribeiro  anne.asribeiro@gmail.com

**Contexto**
Este projeto consiste na criação de um banco de dados e análise destes dados de desmatamento e CO2 do estado da Bahia nos últimos 5 anos.

**Etapas do projeto:**


1. Selecionar a Base de Dados
2. Definir Objetivo e Perguntas
3. Realizar Análise Exploratória
4. Gerar Base Final
5. Criar Visualizações no Tableau
6. Preparar Apresentação Final

**Bases Escolhidas**

Base 1: MapBiomas Alertas
https://plataforma.alerta.mapbiomas.org/downloads

Base 2: Sistema de Estimativas de Emissões e Remoções de Gases de Efeito Estufa (SEEG)
https://plataforma.seeg.eco.br/?highlight=states-net-emissions-by-sector-goias&_gl=1*1nqir75*_ga*NTI0MDk2MzUwLjE3Mjc1NDQ0NjA.*_ga_XZWSWEJDWQ*MTcyNzU0NDQ2MC4xLjAuMTcyNzU0NDQ2MC4wLjAuMA..

**Objetivo Geral:**

Criar um banco de dados e realizar uma análise dos dados com o objetivo de identificar variáveis de como o desmatamento na Bahia impacta nas taxas de emissão de CO2 ?

**As perguntas norteadoras deste projeto são:**

Como o desmatamento na Bahia impacta as taxas de emissão de CO₂ e qual sua relação com a temperatura dos oceanos?

Qual a taxa de desmatamento nos biomas/municípios da Bahia e como ela evoluiu no período de 2019 a 2022?

Qual a taxa de CO2 nos municípios da Bahia e como ela evoluiu no período de 2019 a 2022?

Existe uma relação entre as áreas desmatadas e o aumento de CO2?

Quais regiões da Bahia apresentam as maiores emissões de carbono derivadas do desmatamento?

Houve alguma alteração no período da Pandemia?

**Ferramentas Utilizadas:**

Banco de dados
Python (Jupyter Notebook): Para a análise exploratória de dados utilizando bibliotecas como Pandas, Seaborn, Matplotlib, etc.
Tableau: Para criar as visualizações finais e apresentar os insights gerados.
GitHub: Para versionamento do projeto e documentação.
Google Colab (opcional): Para execução de notebooks de forma colaborativa e em nuvem.

Instalando o **Python**: Acesse o site oficial do Python (https://www.python.org/) e baixe a versão mais recente para o seu sistema operacional. Siga as instruções de instalação para configurar o Python em seu computador.

Instalando o  **Visual Studio Code (VS Code)**: Acesse o site (https://code.visualstudio.com/).

**Extensões** que irão tornar o processo de desenvolvimento mais simples e intuitivo:

SQLite: Essa extensão essencial oferece recursos para abrir e editar arquivos SQLite (.db), executar consultas SQL, visualizar dados e até mesmo criar tabelas e colunas diretamente no VS Code.

SQLite Viewer: Com o SQLite Viewer, você pode visualizar seus dados SQLite de forma gráfica, sem precisar escrever código. Ele oferece uma interface simples e amigável para navegar pelas tabelas, visualizar os dados e editar registros.


**Bibliotecas e módulos:**

sqlite3
csv
Pandas
Seaborn
Matplotlib

**Lendo Dados de um Arquivo CSV e Inserindo no Banco**

Vamos começar lendo dados de um arquivo CSV e inserindo-os em uma tabela do banco de dados SQLite.

In [ ]:
# Criando a Tabela no SQLite
# Primeiro, vamos criar uma tabela no banco de dados SQLite onde os dados do CSV serão armazenados.

import sqlite3

# Conectando ao banco de dados SQLite (ou criando se não existir)
conn = sqlite3.connect('banco_projeto.db')
cursor = conn.cursor()

# Criando a tabela
cursor.execute("""
CREATE TABLE IF NOT EXISTS dados_projeto (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    municipio TEXT NOT NULL,
    ano INTEGER NOT NULL,
    co2_t INTEGER NOT NULL,
    area_ha INTEGER NOT NULL,

)
""")

# Salvando as mudanças
conn.commit()



> Adicionar aspas

Talvez essa parte seja no final apos os dados trabalhados

> Adicionar aspas

In [ ]:
# Agora, vamos ler o arquivo CSV e inserir os dados na tabela:

import csv
import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect('banco_projeto.db')
cursor = conn.cursor()

# Abrindo o arquivo CSV  , dados.csv o nome do arquivo
with open('dados.csv', 'r') as arquivo_csv:   # with open('clientes.csv', newline='', encoding='utf-8') as csvfile:
    leitor_csv = csv.reader(arquivo_csv)      #    leitor = csv.reader(csvfile)

    # Pulando o cabeçalho
    next(leitor_csv)    #   next(leitor)

    # Inserindo cada linha do CSV na tabela
    for linha in leitor_csv:      #    for linha in leitor:
        cursor.execute("INSERT INTO dados_projeto (id, municipio, ano, co2_t, area_ha) VALUES (?, ?, ?, ?, ?)", (linha[0], int(linha[1]))   # cursor.execute("INSERT INTO clientes (nome, email) VALUES (?, ?)", (linha[1], linha[2]))

   # Insere vários estudantes de uma vez
     # cursor.executemany("INSERT INTO estudantes (nome, idade) VALUES (?, ?)", estudantes)

        # consultar https://github.com/palomaavena/on35-python-s08-banco-de-dados-II/tree/main/exercicios/para-casa

# Salvando as mudanças
conn.commit()

# Fechando a conexão
cursor.close()
conn.close()


**Análise exploratória de dados**

1. DADOS DE CO2

Coleta de dados CO2 Bahia, SEEG:


link: https://plataforma.seeg.eco.br/?highlight=states-net-emissions-by-sector-bahia&_gl=1*gambxz*_ga*MTk5NTgxNjM5MS4xNzI1NjQzNTE1*_ga_XZWSWEJDWQ*MTcyNTY0MzUxNS4xLjAuMTcyNTY0MzUxNS4wLjAuMA..blob:https://plataforma.seeg.eco.br/845fd445-2d02-43a9-bb87-14435bfb6c1b


CO2: quantidade em tonelada

In [ ]:
# como fazer o download direto com o link?

import requests

# URL do arquivo CSV
url = 'https://plataforma.seeg.eco.br/900a4305-86dd-4409-9b21-4e869a8d4768'
# Nome do arquivo para salvar
filename = 'co2_seeg.csv'

# Fazer o download do arquivo
response = requests.get(url)

# Verificar se o download foi bem-sucedido
if response.status_code == 200:
    with open('co2_seeg.csv', 'wb') as file:
        file.write(response.content)
    print(f"Arquivo {'co2_seeg.csv'} baixado com sucesso!")
else:
    print(f"Falha ao baixar o arquivo. Status code: {response.status_code}")

Arquivo co2_seeg.csv baixado com sucesso!

Merge (mesclar) dados csv

In [8]:
# Primeiro, instale a biblioteca pandas se ainda não estiver instalada
!pip install pandas

# Importando os dados
import pandas as pd
import csv

# Carregando os dois arquivos CSV
# Caso esteja rodando localmente, altere o caminho dos arquivos.
# No Colab, você pode fazer upload dos arquivos com os botões de upload
df1 = pd.read_csv('SEEG.csv')
df2 = pd.read_csv('SEEG1.csv')

# Exibindo as primeiras linhas dos DataFrames para verificar
print(df1.head())
print(df2.head())


#with open('maio_abril_2024.csv', newline='', encoding='utf-8') as csvfile:
  #  leitor = csv.reader(csvfile)
 #   for linha in leitor:
 #       print(linha)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
                            Categoria          1990          1991  \
0  Mudança de Uso da Terra e Floresta  7.034675e+07  7.178002e+07

           1992          1993          1994          1995          1996  \
0  6.619761e+07  7.059627e+07  6.556189e+07  6.583727e+07  5.788894e+07

           1997          1998  ...          2013          2014          2015  \
0  4.795778e+07  4.590264e+07  ...  5.195822e+07  3.719111e+07  3.190265e+07

           2016          2017          2018          2019          2020  \
0  3.130805e+07  3.234297e+07  3.804942e+07  3.372027e+07  3.324519e+07

           2021      2022
0  3.181527e+07  31412973

[1 rows x 34 columns]
                   Categoria          1990          1991          1992  \
0         São Desidério (BA)  2.002523e+06  2.116496e+06  1.342632e+06
1  Formosa do Rio Preto (BA)  8.268747e+05  3.994671e+05  5.396696e+05
2             Jaborandi (BA)  5.986577e+05  3.230176e+05  5.522217e+05
3            Correntina (BA)  1.240466e+06  1.300028e+06  1.251180e+06
4             Barreiras (BA)  1.104449e+06  9.809112e+05  9.201021e+05

           1993          1994          1995          1996          1997  \
0  2.128146e+06  1.457664e+06  1.380662e+06  2.586180e+06  1.266969e+06
1  7.916206e+05  1.109452e+06  1.319670e+06  1.691259e+06  1.703959e+06
2  5.767153e+05  6.191671e+05  9.156728e+05  3.416252e+05  2.867088e+05
3  2.444920e+06  1.626112e+06  7.442169e+05  8.835755e+05  5.224134e+05
4  1.228585e+06  1.639774e+06  1.522551e+06  1.179748e+06  1.104723e+06

           1998  ...          2013          2014          2015          2016  \
0  2.054171e+06  ...  1.891963e+06  1.282559e+06  1.218159e+06  9.212761e+05
1  1.971454e+06  ...  3.487482e+06  2.810540e+06  1.893684e+06  6.809720e+05
2  3.425471e+05  ...  2.526260e+06  1.280666e+06  1.001395e+06  6.383960e+05
3  8.225963e+05  ...  1.683472e+06  1.255760e+06  1.275669e+06  1.072367e+06
4  1.254497e+06  ...  2.095302e+06  8.441796e+05  1.058625e+06  8.611082e+05

           2017          2018          2019          2020          2021  \
0  9.647149e+05  1.252957e+06  2.024108e+06  3.091203e+06  3.159580e+06
1  7.885680e+05  1.208044e+06  4.220327e+06  3.073766e+06  2.299738e+06
2  7.539480e+05  1.162687e+06  1.706968e+06  1.744004e+06  2.051921e+06
3  1.202182e+06  1.245274e+06  1.545573e+06  1.060526e+06  1.585476e+06
4  8.665016e+05  8.465682e+05  1.568927e+06  1.179766e+06  9.583063e+05

      2022
0  2729422
1  2432263
2  1734316
3  1473135
4   996163

[5 rows x 34 columns]

In [22]:
# Converta todas as colunas de anos para string, por exemplo
df1[['2019', '2020', '2021', '2022']] = df1[['2019', '2020', '2021', '2022']].astype(str)
df2[['2019', '2020', '2021', '2022']] = df2[['2019', '2020', '2021', '2022']].astype(str)

# Converta a coluna Categoria também, se necessário
df1['Categoria'] = df1['Categoria'].astype(str)
df2['Categoria'] = df2['Categoria'].astype(str)


# Exibindo as primeiras linhas dos DataFrames para verificar
print(df1.head())
print(df2.head())

                            Categoria          1990          1991  \
0  Mudança de Uso da Terra e Floresta  7.034675e+07  7.178002e+07

           1992          1993          1994          1995          1996  \
0  6.619761e+07  7.059627e+07  6.556189e+07  6.583727e+07  5.788894e+07

           1997          1998  ...          2013          2014          2015  \
0  4.795778e+07  4.590264e+07  ...  5.195822e+07  3.719111e+07  3.190265e+07

           2016          2017          2018                2019  \
0  3.130805e+07  3.234297e+07  3.804942e+07  33720265.584785685

                 2020               2021      2022
0  33245186.445011582  31815271.56421204  31412973

[1 rows x 34 columns]
                   Categoria          1990          1991          1992  \
0         São Desidério (BA)  2.002523e+06  2.116496e+06  1.342632e+06
1  Formosa do Rio Preto (BA)  8.268747e+05  3.994671e+05  5.396696e+05
2             Jaborandi (BA)  5.986577e+05  3.230176e+05  5.522217e+05
3            Correntina (BA)  1.240466e+06  1.300028e+06  1.251180e+06
4             Barreiras (BA)  1.104449e+06  9.809112e+05  9.201021e+05

           1993          1994          1995          1996          1997  \
0  2.128146e+06  1.457664e+06  1.380662e+06  2.586180e+06  1.266969e+06
1  7.916206e+05  1.109452e+06  1.319670e+06  1.691259e+06  1.703959e+06
2  5.767153e+05  6.191671e+05  9.156728e+05  3.416252e+05  2.867088e+05
3  2.444920e+06  1.626112e+06  7.442169e+05  8.835755e+05  5.224134e+05
4  1.228585e+06  1.639774e+06  1.522551e+06  1.179748e+06  1.104723e+06

           1998  ...          2013          2014          2015          2016  \
0  2.054171e+06  ...  1.891963e+06  1.282559e+06  1.218159e+06  9.212761e+05
1  1.971454e+06  ...  3.487482e+06  2.810540e+06  1.893684e+06  6.809720e+05
2  3.425471e+05  ...  2.526260e+06  1.280666e+06  1.001395e+06  6.383960e+05
3  8.225963e+05  ...  1.683472e+06  1.255760e+06  1.275669e+06  1.072367e+06
4  1.254497e+06  ...  2.095302e+06  8.441796e+05  1.058625e+06  8.611082e+05

           2017          2018                2019                2020  \
0  9.647149e+05  1.252957e+06  2024107.6610826252   3091203.197527945
1  7.885680e+05  1.208044e+06  4220327.0016454905  3073766.4334418774
2  7.539480e+05  1.162687e+06  1706967.7386553884   1744004.154955864
3  1.202182e+06  1.245274e+06   1545572.943816781  1060525.6563282013
4  8.665016e+05  8.465682e+05  1568927.0175619423  1179766.0970728395

                 2021     2022
0   3159579.701361537  2729422
1  2299737.8741800785  2432263
2   2051920.940728784  1734316
3  1585476.3940644264  1473135
4    958306.347179532   996163

[5 rows x 34 columns]

In [23]:
# Remover espaços em branco no início e no fim dos valores das colunas de chave
df1['Categoria'] = df1['Categoria'].str.strip()
df2['Categoria'] = df2['Categoria'].str.strip()

# Para as colunas de ano
for col in ['2019', '2020', '2021', '2022']:
    df1[col] = df1[col].str.strip()
    df2[col] = df2[col].str.strip()

# Exibindo as primeiras linhas dos DataFrames para verificar
print(df1.head())
print(df2.head())

                            Categoria          1990          1991  \
0  Mudança de Uso da Terra e Floresta  7.034675e+07  7.178002e+07

           1992          1993          1994          1995          1996  \
0  6.619761e+07  7.059627e+07  6.556189e+07  6.583727e+07  5.788894e+07

           1997          1998  ...          2013          2014          2015  \
0  4.795778e+07  4.590264e+07  ...  5.195822e+07  3.719111e+07  3.190265e+07

           2016          2017          2018                2019  \
0  3.130805e+07  3.234297e+07  3.804942e+07  33720265.584785685

                 2020               2021      2022
0  33245186.445011582  31815271.56421204  31412973

[1 rows x 34 columns]
                   Categoria          1990          1991          1992  \
0         São Desidério (BA)  2.002523e+06  2.116496e+06  1.342632e+06
1  Formosa do Rio Preto (BA)  8.268747e+05  3.994671e+05  5.396696e+05
2             Jaborandi (BA)  5.986577e+05  3.230176e+05  5.522217e+05
3            Correntina (BA)  1.240466e+06  1.300028e+06  1.251180e+06
4             Barreiras (BA)  1.104449e+06  9.809112e+05  9.201021e+05

           1993          1994          1995          1996          1997  \
0  2.128146e+06  1.457664e+06  1.380662e+06  2.586180e+06  1.266969e+06
1  7.916206e+05  1.109452e+06  1.319670e+06  1.691259e+06  1.703959e+06
2  5.767153e+05  6.191671e+05  9.156728e+05  3.416252e+05  2.867088e+05
3  2.444920e+06  1.626112e+06  7.442169e+05  8.835755e+05  5.224134e+05
4  1.228585e+06  1.639774e+06  1.522551e+06  1.179748e+06  1.104723e+06

           1998  ...          2013          2014          2015          2016  \
0  2.054171e+06  ...  1.891963e+06  1.282559e+06  1.218159e+06  9.212761e+05
1  1.971454e+06  ...  3.487482e+06  2.810540e+06  1.893684e+06  6.809720e+05
2  3.425471e+05  ...  2.526260e+06  1.280666e+06  1.001395e+06  6.383960e+05
3  8.225963e+05  ...  1.683472e+06  1.255760e+06  1.275669e+06  1.072367e+06
4  1.254497e+06  ...  2.095302e+06  8.441796e+05  1.058625e+06  8.611082e+05

           2017          2018                2019                2020  \
0  9.647149e+05  1.252957e+06  2024107.6610826252   3091203.197527945
1  7.885680e+05  1.208044e+06  4220327.0016454905  3073766.4334418774
2  7.539480e+05  1.162687e+06  1706967.7386553884   1744004.154955864
3  1.202182e+06  1.245274e+06   1545572.943816781  1060525.6563282013
4  8.665016e+05  8.465682e+05  1568927.0175619423  1179766.0970728395

                 2021     2022
0   3159579.701361537  2729422
1  2299737.8741800785  2432263
2   2051920.940728784  1734316
3  1585476.3940644264  1473135
4    958306.347179532   996163

[5 rows x 34 columns]

In [24]:
print("Valores únicos de Categoria no df1:", df1['Categoria'].unique())
print("Valores únicos de Categoria no df2:", df2['Categoria'].unique())

Valores únicos de Categoria no df1: ['Mudança de Uso da Terra e Floresta']
Valores únicos de Categoria no df2: ['São Desidério (BA)' 'Formosa do Rio Preto (BA)' 'Jaborandi (BA)'
 'Correntina (BA)' 'Barreiras (BA)' 'Riachão das Neves (BA)'
 'Santa Rita de Cássia (BA)' 'Jequié (BA)' 'Encruzilhada (BA)'
 'Baianópolis (BA)' 'Valença (BA)' 'Cocos (BA)' 'Belmonte (BA)'
 'Luís Eduardo Magalhães (BA)' 'Barra (BA)' 'Cotegipe (BA)'
 'Ibirapitanga (BA)' 'Itagibá (BA)' 'Itapetinga (BA)' 'Iguaí (BA)'
 'Maraú (BA)' 'Ibicuí (BA)' 'Guaratinga (BA)' 'Nilo Peçanha (BA)'
 'Camamu (BA)' 'Itambé (BA)' 'Dário Meira (BA)' 'Igrapiúna (BA)'
 'Ilhéus (BA)' 'Itarantim (BA)' 'Outros']

In [25]:
# Fazendo a mesclagem com base em várias colunas
df_merged = pd.merge(df1, df2, on=['Categoria', '2019', '2020', '2021', '2022'], how='outer', suffixes=('.x', '.y'))


# Exibindo as primeiras linhas do arquivo mesclado
print(df_merged.head())

# Salvando o arquivo final mesclado em um novo CSV
df_merged.to_csv('co2_mesclado.csv', index=False)

          Categoria  1990.x  1991.x  1992.x  1993.x  1994.x  1995.x  1996.x  \
0  Baianópolis (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1        Barra (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2    Barreiras (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     Belmonte (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4       Camamu (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN

   1997.x  1998.x  ...         2009.y         2010.y        2011.y  \
0     NaN     NaN  ...  201533.680923  198100.860538  6.037104e+05
1     NaN     NaN  ...  293285.996844  190840.199123  2.542452e+05
2     NaN     NaN  ...  782536.543400  499205.103294  1.123564e+06
3     NaN     NaN  ...  305481.817527  362152.208117  3.601907e+05
4     NaN     NaN  ...  233046.682173  244347.041716  1.454052e+05

         2012.y        2013.y        2014.y        2015.y         2016.y  \
0  6.769915e+05  6.462472e+05  6.534717e+05  4.394508e+05  297636.543553
1  2.154561e+05  4.209665e+05  1.320592e+06  7.130062e+05  237763.732862
2  2.600460e+06  2.095302e+06  8.441796e+05  1.058625e+06  861108.203390
3  2.477949e+05  4.196629e+05  3.442798e+05  3.239090e+05  970812.041222
4  2.455068e+05  2.883452e+05  2.205248e+05  1.565318e+05  182309.875579

          2017.y         2018.y
0  522833.621365  720253.263252
1  373584.710467  381685.422644
2  866501.596361  846568.187975
3  811434.286499  302593.128041
4  283636.498159  325602.310323

[5 rows x 63 columns]

In [26]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 63 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  32 non-null     object
 1   1990.x     1 non-null      float64
 2   1991.x     1 non-null      float64
 3   1992.x     1 non-null      float64
 4   1993.x     1 non-null      float64
 5   1994.x     1 non-null      float64
 6   1995.x     1 non-null      float64
 7   1996.x     1 non-null      float64
 8   1997.x     1 non-null      float64
 9   1998.x     1 non-null      float64
 10  1999.x     1 non-null      float64
 11  2000.x     1 non-null      float64
 12  2001.x     1 non-null      float64
 13  2002.x     1 non-null      float64
 14  2003.x     1 non-null      float64
 15  2004.x     1 non-null      float64
 16  2005.x     1 non-null      float64
 17  2006.x     1 non-null      float64
 18  2007.x     1 non-null      float64
 19  2008.x     1 non-null      float64
 20  2009.x     1 non-null      float64
 21  2010.x     1 non-null      float64
 22  2011.x     1 non-null      float64
 23  2012.x     1 non-null      float64
 24  2013.x     1 non-null      float64
 25  2014.x     1 non-null      float64
 26  2015.x     1 non-null      float64
 27  2016.x     1 non-null      float64
 28  2017.x     1 non-null      float64
 29  2018.x     1 non-null      float64
 30  2019       32 non-null     object
 31  2020       32 non-null     object
 32  2021       32 non-null     object
 33  2022       32 non-null     object
 34  1990.y     31 non-null     float64
 35  1991.y     31 non-null     float64
 36  1992.y     31 non-null     float64
 37  1993.y     31 non-null     float64
 38  1994.y     31 non-null     float64
 39  1995.y     31 non-null     float64
 40  1996.y     31 non-null     float64
 41  1997.y     31 non-null     float64
 42  1998.y     31 non-null     float64
 43  1999.y     31 non-null     float64
 44  2000.y     31 non-null     float64
 45  2001.y     31 non-null     float64
 46  2002.y     31 non-null     float64
 47  2003.y     31 non-null     float64
 48  2004.y     31 non-null     float64
 49  2005.y     31 non-null     float64
 50  2006.y     31 non-null     float64
 51  2007.y     31 non-null     float64
 52  2008.y     31 non-null     float64
 53  2009.y     31 non-null     float64
 54  2010.y     31 non-null     float64
 55  2011.y     31 non-null     float64
 56  2012.y     31 non-null     float64
 57  2013.y     31 non-null     float64
 58  2014.y     31 non-null     float64
 59  2015.y     31 non-null     float64
 60  2016.y     31 non-null     float64
 61  2017.y     31 non-null     float64
 62  2018.y     31 non-null     float64
dtypes: float64(58), object(5)
memory usage: 15.9+ KB

In [27]:
# Exibe os nomes das colunas
df_merged.columns

Index(['Categoria', '1990.x', '1991.x', '1992.x', '1993.x', '1994.x', '1995.x',
       '1996.x', '1997.x', '1998.x', '1999.x', '2000.x', '2001.x', '2002.x',
       '2003.x', '2004.x', '2005.x', '2006.x', '2007.x', '2008.x', '2009.x',
       '2010.x', '2011.x', '2012.x', '2013.x', '2014.x', '2015.x', '2016.x',
       '2017.x', '2018.x', '2019', '2020', '2021', '2022', '1990.y', '1991.y',
       '1992.y', '1993.y', '1994.y', '1995.y', '1996.y', '1997.y', '1998.y',
       '1999.y', '2000.y', '2001.y', '2002.y', '2003.y', '2004.y', '2005.y',
       '2006.y', '2007.y', '2008.y', '2009.y', '2010.y', '2011.y', '2012.y',
       '2013.y', '2014.y', '2015.y', '2016.y', '2017.y', '2018.y'],
      dtype='object')

In [36]:
# Selecionar 3 colunas específicas
df_reduzido = df_merged[['Categoria','2019', '2020', '2021', '2022']]
print(df_co2)

                             Categoria                2019  \
0                     Baianópolis (BA)   607436.7982445955
1                           Barra (BA)   226011.0523688793
2                       Barreiras (BA)  1568927.0175619423
3                        Belmonte (BA)   390403.1881421805
4                          Camamu (BA)  221471.44368362427
5                           Cocos (BA)    959394.147064954
6                      Correntina (BA)   1545572.943816781
7                        Cotegipe (BA)   331163.8086628318
8                     Dário Meira (BA)   94401.96469908953
9                    Encruzilhada (BA)   403895.9177992344
10           Formosa do Rio Preto (BA)  4220327.0016454905
11                     Guaratinga (BA)  211708.01093423367
12                         Ibicuí (BA)  16963.917866706848
13                   Ibirapitanga (BA)   86205.62920188904
14                      Igrapiúna (BA)   257694.0746061802
15                          Iguaí (BA)   82227.19198989868
16                         Ilhéus (BA)  158872.06799983978
17                        Itagibá (BA)  121675.55451917648
18                         Itambé (BA)  100107.73387336732
19                     Itapetinga (BA)   57074.17749881744
20                      Itarantim (BA)   38472.14862561226
21                      Jaborandi (BA)  1706967.7386553884
22                         Jequié (BA)   249169.2120203972
23         Luís Eduardo Magalhães (BA)   800435.7103590965
24                          Maraú (BA)    80207.4920681715
25  Mudança de Uso da Terra e Floresta  33720265.584785685
26                   Nilo Peçanha (BA)      90276.49283427
27                              Outros  15546451.642679542
28              Riachão das Neves (BA)   580173.0040331781
29           Santa Rita de Cássia (BA)   694797.0868461728
30                  São Desidério (BA)  2024107.6610826252
31                        Valença (BA)  247673.75340151787

                  2020                2021      2022
0    790814.9751247168  1700892.2622466087    413632
1   139778.05993533134   79058.81857037544    312169
2   1179766.0970728395    958306.347179532    996163
3    350558.8480718136   331485.0170983076    354868
4    434741.3974044919  163548.15982496738    232571
5     1218387.32458961  1229644.9681953788    367625
6   1060525.6563282013  1585476.3940644264   1473135
7    559960.0834841728   292547.2605621815    297663
8    92504.77269613744  101797.88742160796    217077
9    451620.4507952333   587315.3614428043    414662
10  3073766.4334418774  2299737.8741800785   2432263
11  251656.63093233109  171742.56461274624    243882
12   35239.99829483032   27800.69570922852    245755
13    296362.889919281   72436.60405349731    292758
14   378236.5840551853  148621.67436516285    210971
15   127471.2907333374   155962.6907043457    277970
16  191205.86366391185   131715.1359180212    209209
17   72102.08046793938  111453.28504517674    288483
18  144429.97027254105    65263.4872546196    227632
19   46135.12845611572  20727.768303871155    285382
20   60319.30365371704   10405.33336520195    203154
21   1744004.154955864   2051920.940728784   1734316
22  186265.72844171524  163926.43447589874    498001
23  1523413.1056941748   654262.0002045631    343098
24  170126.90513539314  103211.31101250648    275953
25  33245186.445011582   31815271.56421204  31412973
26  154625.95725762844   59568.41939795017    238334
27  13047762.222338883  13420866.789134309  13978140
28  1085054.2665590644   761963.2862440944    670183
29   859509.3606863022   998700.5789114236    569631
30   3091203.197527945   3159579.701361537   2729422
31    427637.707020998  195332.51262283325    378871

In [37]:
# Altera os nomes das colunas
df_reduzido.columns = ['Municípios', '2019', '2020', '2021', '2022']
print(df_reduzido)

                            Municípios                2019  \
0                     Baianópolis (BA)   607436.7982445955
1                           Barra (BA)   226011.0523688793
2                       Barreiras (BA)  1568927.0175619423
3                        Belmonte (BA)   390403.1881421805
4                          Camamu (BA)  221471.44368362427
5                           Cocos (BA)    959394.147064954
6                      Correntina (BA)   1545572.943816781
7                        Cotegipe (BA)   331163.8086628318
8                     Dário Meira (BA)   94401.96469908953
9                    Encruzilhada (BA)   403895.9177992344
10           Formosa do Rio Preto (BA)  4220327.0016454905
11                     Guaratinga (BA)  211708.01093423367
12                         Ibicuí (BA)  16963.917866706848
13                   Ibirapitanga (BA)   86205.62920188904
14                      Igrapiúna (BA)   257694.0746061802
15                          Iguaí (BA)   82227.19198989868
16                         Ilhéus (BA)  158872.06799983978
17                        Itagibá (BA)  121675.55451917648
18                         Itambé (BA)  100107.73387336732
19                     Itapetinga (BA)   57074.17749881744
20                      Itarantim (BA)   38472.14862561226
21                      Jaborandi (BA)  1706967.7386553884
22                         Jequié (BA)   249169.2120203972
23         Luís Eduardo Magalhães (BA)   800435.7103590965
24                          Maraú (BA)    80207.4920681715
25  Mudança de Uso da Terra e Floresta  33720265.584785685
26                   Nilo Peçanha (BA)      90276.49283427
27                              Outros  15546451.642679542
28              Riachão das Neves (BA)   580173.0040331781
29           Santa Rita de Cássia (BA)   694797.0868461728
30                  São Desidério (BA)  2024107.6610826252
31                        Valença (BA)  247673.75340151787

                  2020                2021      2022
0    790814.9751247168  1700892.2622466087    413632
1   139778.05993533134   79058.81857037544    312169
2   1179766.0970728395    958306.347179532    996163
3    350558.8480718136   331485.0170983076    354868
4    434741.3974044919  163548.15982496738    232571
5     1218387.32458961  1229644.9681953788    367625
6   1060525.6563282013  1585476.3940644264   1473135
7    559960.0834841728   292547.2605621815    297663
8    92504.77269613744  101797.88742160796    217077
9    451620.4507952333   587315.3614428043    414662
10  3073766.4334418774  2299737.8741800785   2432263
11  251656.63093233109  171742.56461274624    243882
12   35239.99829483032   27800.69570922852    245755
13    296362.889919281   72436.60405349731    292758
14   378236.5840551853  148621.67436516285    210971
15   127471.2907333374   155962.6907043457    277970
16  191205.86366391185   131715.1359180212    209209
17   72102.08046793938  111453.28504517674    288483
18  144429.97027254105    65263.4872546196    227632
19   46135.12845611572  20727.768303871155    285382
20   60319.30365371704   10405.33336520195    203154
21   1744004.154955864   2051920.940728784   1734316
22  186265.72844171524  163926.43447589874    498001
23  1523413.1056941748   654262.0002045631    343098
24  170126.90513539314  103211.31101250648    275953
25  33245186.445011582   31815271.56421204  31412973
26  154625.95725762844   59568.41939795017    238334
27  13047762.222338883  13420866.789134309  13978140
28  1085054.2665590644   761963.2862440944    670183
29   859509.3606863022   998700.5789114236    569631
30   3091203.197527945   3159579.701361537   2729422
31    427637.707020998  195332.51262283325    378871

In [41]:
# Verifica valores nulos
nulos = df_reduzido.isnull()
print(nulos)

# Contagem de valores nulos em cada coluna
nulos_por_coluna = df_reduzido.isnull().sum()
print(nulos_por_coluna)

    Municípios   2019   2020   2021   2022
0        False  False  False  False  False
1        False  False  False  False  False
2        False  False  False  False  False
3        False  False  False  False  False
4        False  False  False  False  False
5        False  False  False  False  False
6        False  False  False  False  False
7        False  False  False  False  False
8        False  False  False  False  False
9        False  False  False  False  False
10       False  False  False  False  False
11       False  False  False  False  False
12       False  False  False  False  False
13       False  False  False  False  False
14       False  False  False  False  False
15       False  False  False  False  False
16       False  False  False  False  False
17       False  False  False  False  False
18       False  False  False  False  False
19       False  False  False  False  False
20       False  False  False  False  False
21       False  False  False  False  False
22       False  False  False  False  False
23       False  False  False  False  False
24       False  False  False  False  False
25       False  False  False  False  False
26       False  False  False  False  False
27       False  False  False  False  False
28       False  False  False  False  False
29       False  False  False  False  False
30       False  False  False  False  False
31       False  False  False  False  False
Municípios    0
2019          0
2020          0
2021          0
2022          0
dtype: int64

In [42]:
# Remove linhas duplicadas
df_sem_duplicatas = df_reduzido.drop_duplicates()
print(df_sem_duplicatas)

                            Municípios                2019  \
0                     Baianópolis (BA)   607436.7982445955
1                           Barra (BA)   226011.0523688793
2                       Barreiras (BA)  1568927.0175619423
3                        Belmonte (BA)   390403.1881421805
4                          Camamu (BA)  221471.44368362427
5                           Cocos (BA)    959394.147064954
6                      Correntina (BA)   1545572.943816781
7                        Cotegipe (BA)   331163.8086628318
8                     Dário Meira (BA)   94401.96469908953
9                    Encruzilhada (BA)   403895.9177992344
10           Formosa do Rio Preto (BA)  4220327.0016454905
11                     Guaratinga (BA)  211708.01093423367
12                         Ibicuí (BA)  16963.917866706848
13                   Ibirapitanga (BA)   86205.62920188904
14                      Igrapiúna (BA)   257694.0746061802
15                          Iguaí (BA)   82227.19198989868
16                         Ilhéus (BA)  158872.06799983978
17                        Itagibá (BA)  121675.55451917648
18                         Itambé (BA)  100107.73387336732
19                     Itapetinga (BA)   57074.17749881744
20                      Itarantim (BA)   38472.14862561226
21                      Jaborandi (BA)  1706967.7386553884
22                         Jequié (BA)   249169.2120203972
23         Luís Eduardo Magalhães (BA)   800435.7103590965
24                          Maraú (BA)    80207.4920681715
25  Mudança de Uso da Terra e Floresta  33720265.584785685
26                   Nilo Peçanha (BA)      90276.49283427
27                              Outros  15546451.642679542
28              Riachão das Neves (BA)   580173.0040331781
29           Santa Rita de Cássia (BA)   694797.0868461728
30                  São Desidério (BA)  2024107.6610826252
31                        Valença (BA)  247673.75340151787

                  2020                2021      2022
0    790814.9751247168  1700892.2622466087    413632
1   139778.05993533134   79058.81857037544    312169
2   1179766.0970728395    958306.347179532    996163
3    350558.8480718136   331485.0170983076    354868
4    434741.3974044919  163548.15982496738    232571
5     1218387.32458961  1229644.9681953788    367625
6   1060525.6563282013  1585476.3940644264   1473135
7    559960.0834841728   292547.2605621815    297663
8    92504.77269613744  101797.88742160796    217077
9    451620.4507952333   587315.3614428043    414662
10  3073766.4334418774  2299737.8741800785   2432263
11  251656.63093233109  171742.56461274624    243882
12   35239.99829483032   27800.69570922852    245755
13    296362.889919281   72436.60405349731    292758
14   378236.5840551853  148621.67436516285    210971
15   127471.2907333374   155962.6907043457    277970
16  191205.86366391185   131715.1359180212    209209
17   72102.08046793938  111453.28504517674    288483
18  144429.97027254105    65263.4872546196    227632
19   46135.12845611572  20727.768303871155    285382
20   60319.30365371704   10405.33336520195    203154
21   1744004.154955864   2051920.940728784   1734316
22  186265.72844171524  163926.43447589874    498001
23  1523413.1056941748   654262.0002045631    343098
24  170126.90513539314  103211.31101250648    275953
25  33245186.445011582   31815271.56421204  31412973
26  154625.95725762844   59568.41939795017    238334
27  13047762.222338883  13420866.789134309  13978140
28  1085054.2665590644   761963.2862440944    670183
29   859509.3606863022   998700.5789114236    569631
30   3091203.197527945   3159579.701361537   2729422
31    427637.707020998  195332.51262283325    378871

In [44]:
# Salvando o arquivo final mesclado em um novo CSV

df_sem_duplicatas.to_csv('co2.csv', index=False)

df_co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municípios  32 non-null     object
 1   2019        32 non-null     object
 2   2020        32 non-null     object
 3   2021        32 non-null     object
 4   2022        32 non-null     object
dtypes: object(5)
memory usage: 1.4+ KB